@model ProductBundles.Domain.Bundle

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="~/js/bundle-add.js"></script>
}

<script>
    const urlAddBundle = '@Url.Action("add", "bundle")';
    const urlHome= '@Url.Action("index", "home")';
</script>

<div class="loading d-none">
    <div class="spinner-border text-primary">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="form-wrapper">

    <h1>Add Bundle</h1>

    <br />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="add" method="post" enctype="application/x-www-form-urlencoded">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" id="name" class="form-control" placeholder="Name for the new bundle" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                                
                <br />

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <input asp-for="Description" id="description" class="form-control" placeholder="Description of the new bundle" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </form>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-4">

            <h5>Products</h5>
            
            <div class="text-end">
                <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddProduct">
                    Add product
                </button>
            </div>
            
            <div id="selected-products" class="text-muted">
                No products selected
            </div>
        </div>
    </div>

    <br /> <br /> 

    <div class="row">
        <div class="col-md-4">

            <h5>Child bundles</h5>

            <div class="text-end">
                <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddChildBundle">
                    Add child bundle
                </button>
            </div>

            <div id="selected-child-bundles" class="text-muted">
                No child bundles selected
            </div>
        </div>
    </div>

    <div>
        <br /> <br />
        <button id="btn-create-bundle" class="btn btn-primary">
            Create
        </button>
    </div>


    <div>
        <br /> <br />
        <a href="@Url.Action("index", "home")">
            Back to Home
        </a>
    </div>
</div>


<div class="modal" id="modalAddProduct" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label>Product</label>
                <div>
                    <select class="form-control" id="drop-down-select-product">
                        <option value="-1" selected>Select the product</option>
                        @foreach(ProductBundles.Domain.Product product in ViewBag.Products)
                        {
                            <option value="@product.Id">@product.Name</option>    
                        }                    
                    </select>
                </div>

                <br />
                <label>Amount</label>
                <div>
                    <input class="form-control" id="input-inform-product-amount" />
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-insert-product">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modalAddChildBundle" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add child bundle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label>Bundle</label>
                <div>
                    <select class="form-control" id="drop-down-select-child-bundle">
                        <option value="-1" selected>Select the bundle</option>
                        @foreach (ProductBundles.ViewModels.Home.BundleViewModel bundle in ViewBag.Bundles)
                        {
                            <option value="@bundle.Id">@bundle.Name</option>
                        }
                    </select>
                </div>

                <br />
                <label>Amount</label>
                <div>
                    <input class="form-control" id="input-inform-child-bundle-amount" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-insert-child-bundle">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>