
@using ProductBundles.ViewModels.Home

@{
    Layout = "_Layout";    
    List<BundleViewModel> bundles = ViewBag.Bundles;    
    List<ProductBundles.Domain.Product> products = ViewBag.Products;
    Dictionary<int, int> possibleBuilds = ViewBag.PossibleBuilds;
}

@section head
{    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
}

<h1>Bundles</h1>

<div class="top-buttons">
    <a class="btn btn-primary" href="@Url.Action("add", "bundle")" ">
        Add new bundle
    </a>
</div>

@if(bundles == null || bundles.Count == 0)
{
    <div class="text-muted">
        No bundles created yet
    </div>
}

<div id="bundlesTree">
    @foreach (BundleViewModel bundle in bundles)
    {
        RenderBundle(bundle);
    }    
</div>

<br />
<br />
<h1>Spare Parts</h1>
<div class="top-buttons">
    <a class="btn btn-primary" href="@Url.Action("add", "product")" ">
        Add new product
    </a>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Product name</td>
            <td>Quantity in stock</td>
        </tr>        
    </thead>
    <tbody>
    @foreach (ProductBundles.Domain.Product product in products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Amount</td>
        </tr>
    }
    </tbody>
</table>

<br />
<br />
<h1>Information</h1>
<div> 
    <br />How many items of each bundle would be possible to build with the pieces currently in stock:<br /> <br />
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Bundle name</td>
            <td>Possible quantity to build</td>
        </tr>
    </thead>
    <tbody>
    @foreach (BundleViewModel bundle in bundles)
    {
        <tr>
            <td>@bundle.Name</td>
            <td>@possibleBuilds[bundle.Id]</td>
        </tr>
    }
    </tbody>
</table>

@functions {
    public void RenderBundle(BundleViewModel bundle)
    {
        <ul>
            <li>
                <span>
                    @bundle.Name

                    @if(bundle.Amount > 0)
                    {
                        <span>(@bundle.Amount)</span>    
                    }
                </span>

                @if (bundle.BundleProducts != null && bundle.BundleProducts.Count > 0)
                {
                    <ul>
                        @foreach (BundleProductViewModel bp in bundle.BundleProducts)
                        {
                            <li>
                                @bp.ProductName (@bp.Amount)
                            </li>
                        }
                    </ul>
                }

                @if (bundle.ChildBundles != null && bundle.ChildBundles.Count > 0)
                {                    
                    @foreach (BundleViewModel b in bundle.ChildBundles)
                        {
                            RenderBundle(b);
                        }
                    }
            </li>
        </ul>
    }
}

<script>
    $(() => {        
        $('#bundlesTree').jstree();
    });
</script>