
@using ProductBundles.ViewModels.Home

@{
    Layout = "_Layout";    
    List<BundleViewModel> bundles = ViewBag.Bundles;    
}

@section head
{    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
}

<h1>Bundles</h1>

<div class="top-buttons">
    <a class="btn btn-primary" href="@Url.Action("add", "bundle")" ">
        Add new bundle
    </a>
</div>

@if(bundles == null || bundles.Count == 0)
{
    <div class="text-muted">
        No bundles created yet
    </div>
}
    

<div id="jstree">

    @foreach (BundleViewModel bundle in bundles)
    {
        RenderBundle(bundle);
    }

    @*@foreach (BundleViewModel bundle in bundles)
    {
        <ul>
            <li>
                <span>@bundle.Name</span>
                                
                @if(bundle.BundleProducts != null && bundle.BundleProducts.Count > 0)
                {
                    <ul>
                        @foreach(BundleProductViewModel bp in bundle.BundleProducts)
                        {
                            <li>
                                @bp.ProductName (@bp.Amount)
                            </li>
                        }

                        @foreach (BundleViewModel b in bundle.ChildBundles)
                        {
                            <li>
                                @b.Name (@b.Amount)
                            </li>
                        }

                    </ul>
                }
            </li>
        </ul>        
    }*@
</div>


@functions {
    public void RenderBundle(BundleViewModel bundle)
    {
        <ul>
            <li>
                <span>@bundle.Name</span>

                @if (bundle.BundleProducts != null && bundle.BundleProducts.Count > 0)
                {
                    <ul>
                        @foreach (BundleProductViewModel bp in bundle.BundleProducts)
                        {
                            <li>
                                @bp.ProductName (@bp.Amount)
                            </li>
                        }
                    </ul>
                }

                @if (bundle.ChildBundles != null && bundle.ChildBundles.Count > 0)
                {
                    <ul>                                                                    
                        @foreach (BundleViewModel b in bundle.ChildBundles)
                        {
                            <li>
                                <span>@b.Name (@b.Amount)</span>

                                @{
                                        RenderBundle(b);
                                }                                

                            </li>
                        }
                    </ul>
                }
            </li>
        </ul>
    }
}

<script>
    $(function () {
        
        $('#jstree').jstree();
        
        
        //$('#jstree').on("changed.jstree", function (e, data) {
        //    console.log(data.selected);
        //});
        
        // 8 interact with the tree - either way is OK
        // $('button').on('click', function () {
        //     $('#jstree').jstree(true).select_node('child_node_1');
        //     $('#jstree').jstree('select_node', 'child_node_1');
        //     $.jstree.reference('#jstree').select_node('child_node_1');
        // });
    });
</script>